@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

@layer components {
  .star-glow {
    filter: drop-shadow(0 0 1px white) drop-shadow(0 0 2px white)
      drop-shadow(0 0 3px white) drop-shadow(0 0 4px white)
      drop-shadow(0 0 5px white) drop-shadow(0 0 6px white)
      drop-shadow(0 0 7px white);
  }

  .moon {
    position: absolute;
    top: 0;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: radial-gradient(
      circle at 75% 35%,
      transparent 45px,
      white 60px
    );
  }
  .sun-glow {
    filter: drop-shadow(0 0 4px rgb(255, 240, 0))
      drop-shadow(0 0 8px rgba(255, 230, 0, 0.8))
      drop-shadow(0 0 10px rgba(255, 220, 0, 0.7))
      drop-shadow(0 0 20px rgba(255, 180, 0, 0.6))
      drop-shadow(0 0 50px rgba(250, 79, 0, 0.5));
  }
}
